<!DOCTYPE html>
<html>
<head lang="sv">
    <meta charset="UTF-8">
    <title>Projekt lättviktig</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body id="main" ng-app="lattviktig">

<nav class="navbar navbar-inverse navbar-fixed-top {{activeNav}}" role="navigation" ng-click="$event.preventDefault()">
    <div class="container" ng-init="activeNav=0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand homenav" href="#"ng-click="activeNav=0">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="calcnav" ng-click="activeNav=1">Sak 1</a>
                </li>
                <li>
                    <a href="#" class="pricenav" ng-click="activeNav=2">Sak 2</a>
                </li>
                <li>
                    <a href="#" class="syncnav" ng-click="activeNav=3">Sak 3</a>
                </li>
                <li>
                    <a href="#" class="syncnav" ng-click="activeNav=4">Sak 4</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="page" ng-show="activeNav==0">Hem</div>
            <div class="page" ng-show="activeNav==1">Sak 1</div>
            <div class="page" ng-show="activeNav==2">Sak 2</div>
            <div class="page" ng-show="activeNav==3">Sak 3</div>
            <div class="page" ng-show="activeNav==4">Sak 4</div>
        </div>
    </div>
    <!-- /.row -->

</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
<script src="app/app.js"></script>
</body>
